<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
    <head>
        <title>My First Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head> 

    <body>

            {% if message %}

                <p> <h2> Hello {{message}}! </h2></p>

            {% else %}

            <p>Hello - No Message!</p>

            {% endif %}

        <div class="home">
            <h2 class="logo">Example 1: To post data  to the backend</h2>
        
            <div id="contact-form" >
                <form method="post" action="/gen">
                    <label for="text">Please Enter Year of your brith</label>
                    <input type="text" id="dob" name="dob" required="required">
                    <input type="submit" value="Submit" id="submit"/>
                </form>
            </div>
        </div>

    </body> 
</html>