<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
    <head>
        <title>My First Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head> 

    <body>

        <p>Date: {{data['current_date']}}!</p>
        <p>Mood: {{data['mood']}}!</p>
        <p>Color: {{data['color']}}!</p>
        <p>Lucky Number: {{data['lucky_number']}}!</p>
        <p>Compatibility: {{data['compatibility']}}!</p>
        <p>Message : {{data['description']}}!</p>
    
 </body>
 </html>